.content__logo {
  display: flex;
  justify-content: space-between;
}
.content__png {
  display: flex;
  align-items: center;
  font-family: "poppins";
  font-size: 25px;
  font-weight: 900;
  line-height: 20px;
  color: #000000;
}
.sign__up {
  background-color: blue;
  color: #ffffff;
}
.card__text {
  margin: 150px;
  display: flex;
  justify-content: space-evenly;
}
.card__header {
  height: 180px;
  width: 70%;
  top: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 60px;
  color: #2a3342;
}
.card__header-text {
  width: 110%;
}
.card__paragraph {
  height: 60px;
  top: 255px;
  width: 70%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #556987;
}
.find-brands {
  background-color: #3b82f6;
  color: #ffffff;
}
.content__list {
  margin: 100px;
  display: flex;
  justify-content: space-evenly;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #2a3342;
}
.btn__text {
  display: flex;
  justify-content: center;
  width: 1400px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #2a3342;
}
.section__text {
  display: flex;
  justify-content: center;
}
.buttom__text {
  width: 261px;
  height: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #556987;
}
.card__text--primary {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}
.center__txt {
  margin: 50px;
}
.col__txt {
  width: 127px;
  height: 18px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #3b82f6;
}
.col__text--primary {
  width: 450px;
  height: 120px;
  left: 0px;
  top: 38px;

  /* display-lg/Bold */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  /* or 125% */

  letter-spacing: -0.02em;

  /* Gray/900 */

  color: #2a3342;
}
.card__txt {
  width: 456px;
  height: 120px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #556987;
}
.Get__started {
  background-color: #3b82f6;
}
.card__text--secondary {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}
.middle__txt {
  margin: 50px;
}
.col__text {
  width: 127px;
  height: 18px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #3b82f6;
}
.col__text--secondary {
  width: 450px;
  height: 120px;
  left: 0px;
  top: 38px;

  /* display-lg/Bold */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  /* or 125% */

  letter-spacing: -0.02em;

  /* Gray/900 */

  color: #2a3342;
}
.crd__txt {
  width: 456px;
  height: 120px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #556987;
}
