.content__logo {
  display: flex;
  justify-content: space-between;
}
.content__png {
  display: flex;
  align-items: center;
  font-family: "poppins";
  font-size: 25px;
  font-weight: 900;
  line-height: 20px;
  color: #000000;
}
.sign__up {
  background-color: blue;
  color: #ffffff;
}
.card__text {
  margin: 150px;
  display: flex;
  justify-content: space-evenly;
}
.card__header {
  height: 180px;
  width: 100%;
  top: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #2a3342;
}
.card__header-text {
  width: 120%;
}
.card__paragraph {
  height: 60px;
  top: 255px;
  width: 70%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #556987;
}
.find-brands {
  background-color: #3b82f6;
  color: #ffffff;
}
